<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="group-form">
    <label for="name">Name: </label>
    <input type="text" id="name" name="name" class="form-control" ngModel required #nameCtrl="ngModel" [ngModel]="defaultName">
    <span class="help-block" *ngIf="nameCtrl.invalid && nameCtrl.touched">Insert a valid name!</span>
  </div>
  <div class="group-form">
    <label for="name">Choose Side: </label>
    <select name="side" id="side" ngModel>
      <option *ngFor="let option of availableSides" [value]="option.value">{{option.display}}</option>
    </select>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Add Character</button>
</form>
